<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Editing existing Skiers</title>

<head>
    <title>Home</title>
    <link href="//db.onlinewebfonts.com/c/0f59a1765c4fc96684b92e78461e975b?family=SNOWFLAKE" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/4f6d8baa159eaeae6c3ef96aae68a9d9?family=Snowfall" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/31e817348bfbc82ebf2d5f0a9c2de8f5?family=firstsnow" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/design.css') }}" media="screen">
</head>

</div>
<body>
<nav class="topnav">
    <a class="active" href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('create') }}">Add new Skier</a>
    <a href="{{ url_for('edit') }}">Edit</a>
    <a href="{{ url_for('summary') }}">Summary</a>
</nav>
<div class="hamburgerContainer">
    <nav class="smallNav" id="smallNav">
        <a class="active" href="{{ url_for('home') }}">Home</a>        <div id="hamburger">
            <a href="{{ url_for('create') }}">Add new Skier</a><hr>
            <a href="{{ url_for('edit') }}">Edit</a><hr>
            <a href="{{ url_for('summary') }}">Summary</a>
        </div>
        <a class="icon" onclick="myFunction2()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
</div>
    <header>
        <br><br>
        <h1 class="title">Edit existing Skier</h1>
        <p>Here you may edit the database of existing skiers:</p>
    </header>

<hr>
    <main>
        <!--{{data}}-->
        <form method="post">
            <br><br><br>
            <label for="id">ID : </label>
            <input type="text" name="id" id="input1"
                   pattern="[a-zA-Z0-9-]+"
                   placeholder="ID of Skier" 
                   title="Enter ID of Skier">
            <br><br>
            <label for="name">Name : </label>
            <input type="text" name="name" id="input2"
                   pattern="^[a-zA-Z-' ]*$"
                   placeholder="Name of Skier"
                   title="Enter name of Skier">
            <!-- všetky boli cez <p>-->
            <br><br>
            <label for="salary">Placement:</label>
            <input type="text" name="salary"
                   placeholder="Placement of Skier"
                   required pattern="[0-9]+"
                   title="Enter placement of Skier">

            <!--</p>-->
            <br><br><br>
            <button type="submit" onclick="return validateInputs()">Submit</button>
        </form>
    </main>
</body>
</html>

<script>
    function myFunction2() {
        var x = document.getElementById("hamburger");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
    function myFunction3() {
        var x = document.getElementById("hamburger");
        x.style.display = "none";
    }
    function validateInputs() {
    var input1 = document.getElementById("input1").value;
    var input2 = document.getElementById("input2").value;

    if (input1 || input2) { // ak aspoň jeden z inputov má hodnotu
      return true; // formulár bude odoslaný
    } else {
      alert("You must enter ID or name of the Skier that You want to edit!"); // inak sa zobrazí upozornenie
      return false; // formulár nebude odoslaný
    }
  }
</script>
